* {
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-image: url(light_grey.png)
    }

    /* content main */
    .wrapper {
        width: auto;
        height: auto;
        padding: 10px;
        background: tan;
    }

 /* navigation area */
.row2{

}

/* navigation bar */
#navigationbar{

}

/* heading */
.row3{

}

/* header, if one is set up in your doc */
header {
    height: 50px;
    width: 960px;
    margin: 0;
    padding: 0;
}

/* logo, if you have one set up */
#logo {
    color:white;
    text-align: center;
    font-size: 32px;
    background-color: #4aaaa5;
    }

#logoname {
    text-decoration: none;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-emphasis: bold;
    } 

/* links */
a {
    margin: 25px;
    text-decoration: none;
    color: black;
}

/* for a navbar class, if it is set up in html doc */
/* .navbar {
    float: right;
    padding-top: 30px; */

}
/* This is a clearfix */
/* .clearfix::after { */
    /* content: ""; */
    /* clear: both; */
   /* } */



.content {
    width: 960px;
    margin: 0 auto;
}

h1 {
    clear: left;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 36px;
    margin: 5px;
}

img {
    height: 300px;
    width:  250px;
    
    padding: 10px;

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    width: 100%;
}

.footer {
    position: fixed;
    clear: left;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  #name {
    display: block;
}

#email {
    display: block;

}

#message {
    display: block;
    grid-area: span;
}
form {
 margin: auto;

}


/* #contactform1 { */

/* } */
